.cart-page {
  padding: 20px;
  margin-top: 70px;
  color: #424443;

}

h2{
  text-align: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
 
  gap: 12px;
  justify-items: center;
  align-items: center;
  
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  row-gap: 10px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #F9FAFB;
  padding: 12px;
  
  background-color: #2563eb;
  color: white;
  border-radius: 10px;
  
}

.cart-item button {
  background-color: #F9FAFB;
  border: none;
  color:#424443;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

.cart-item .cart-trash {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #F9FAFB;
  color:white;
  border-radius: 6px;
  
  cursor: pointer;
}

.quantity-controls{
  display: flex;
  gap: 10px;
  align-items: center;
}

.check-close{
   display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1190px;
  margin-left: 60px;
  justify-content: space-between;
}

.checkout-btn {
  
  width: 200px;
  height: 50px;
  background: #2563eb;
  color: white;
  align-content: center;
  text-align: center;
  
  border-radius: 6px;
  text-decoration: none;
}

.checkout-btn:hover {
border-color: #2563eb;
  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.6);
background: #F9FAFB;
  color: #424443;
}




@media (max-width: 500px){
  .cart-page {
  
  margin-top: 110px;


}
}