.product-container {

  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 overflow: hidden;
 z-index: 1;
  padding: 20px 12px;
  margin: 100px 16px 10px 16px;
}

.page-heading{
font-size: medium;
color: #424443;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.filter-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;

}

.filter-bar button {
  width: 100px;
  height: 40px;
  border: 1px solid #2563eb;
  border-radius: 20px;
  background: #F9FAFB;
  color: #424443;
  cursor: pointer;
  transition: 0.3s;
}

.filter-bar button.active,
.filter-bar button:hover {
  background: #2563eb;
  color: white;
  border-color: #2563eb;
  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.6);
}

.product-list {
  display: flex;
  width: 100%;
  max-width: 1220px;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 16px;
  justify-content: center;
}

@media (max-width: 600px) {
  .filter-bar {
    justify-content: center;
  }
}

@media (max-width: 600px) {
 .product-container {
 
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 overflow: hidden;
 z-index: 1;
  padding: 20px 0px;
  margin: 100px 16px 10px 3px;
}
}


@media (max-width: 900px){
  .product-container {
    margin-top:120px ;
  }
}

