body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background:#edeef0;
  color: #333;
  min-height: 100vh;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.app-container{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  overflow: hidden;
}